<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "C:\spring\mybatis-3-mapper.dtd"> 
<mapper namespace="dz.ibnrochd.master14.mapper.PatientMapper">
    
    <resultMap id="PatientResultMap" type="dz.ibnrochd.master14.model.Patient">
        <id property="id" column="id" />
        <result property="nom" column="nom" />
        <result property="prenom" column="prenom" />
        <result property="sexe" column="sexe" />
        <result property="dateNaissance" column="date_naissance" />
        <result property="numeroTelephone" column="numero_telephone" />
        <result property="adresse" column="adresse" />
        <!-- Ajoutez d'autres propriétés ici -->
    </resultMap>

  
    <!-- Requête pour récupérer tous les patients --> 
    <select id="getAllPatients" resultMap="PatientResultMap">
    SELECT *
    FROM cabinet.patient;
</select>

<select id="getPatientByName" resultMap="PatientResultMap">
SELECT *
FROM cabinet.patient
WHERE nom = 'Yahi';
</select>

  <insert id="insertPatient" parameterType="dz.ibnrochd.master14.model.Patient">
        INSERT INTO cabinet.patient (nom, prenom, sexe, date_naissance, numero_telephone, adresse)
        VALUES (#{nom}, #{prenom}, #{sexe}, #{dateNaissance}, #{numeroTelephone}, #{adresse})
    </insert>
    
    
  

    
    
</mapper>
