<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "C:\spring\mybatis-3-mapper.dtd"> 
<mapper namespace="dz.ibnrochd.master14.mapper.RendezVousMapper">
    
    <resultMap id="RendezVousResultMap" type="dz.ibnrochd.master14.model.RendezVous">
        <id property="id" column="id" />
        <result property="dateRdv" column="date_rdv" />
        <result property="idPatient" column="id_patient" />
        <!-- Ajoutez d'autres propriétés ici -->
    </resultMap>

    <!-- Ajoutez vos requêtes SQL ici -->
    
</mapper>
