<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "C:\spring\mybatis-3-mapper.dtd"> 
<mapper namespace="dz.ibnrochd.master14.mapper.TraitementMapper">
    
    <resultMap id="TraitementResultMap" type="dz.ibnrochd.master14.model.Traitement">
        <id property="id" column="id" />
        <result property="nom" column="nom" />
        <!-- Ajoutez d'autres propriétés ici -->
    </resultMap>




    
</mapper>
